.container {
   margin: 0 auto;
   max-width: 1200px;
   
}

#second{
    background: #f6f2f2;
    padding-bottom: 85px;
    margin-bottom: 10px;
}


#first{
    background: #f6f2f2; 
}

#first nav {
    display: flex;
    justify-content: center;    
}

#first .container {
    background-color: #000000;
    opacity: 0.8;
}

#first a {
    padding: 28px 17px;
}

.clearfix::after{
    clear: both;
    display: table;
    content: "";
}
.button-header{    
    font-size: 14px;
    text-decoration:none;
    color: #e0e0e0;
    font-family: "Open Sans" , sans-serif;
    
}
#first a:hover { 
    background-color: #ff3f40;
}

.contact1{
    width: 50%;
    margin-top: 50px;
    float: left;
    padding-bottom: 20px; 
}
.contact1 h1{
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 54px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}
.contact1 p {
    opacity: 0.7;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    
}
.contact1 a {
    margin-top: 13px;
    display: inline-block;
    padding: 10px 30px;
    line-height: 1;
    
    border-radius: 5px;
    background-color: #ff2d2d;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 34.06px;
    letter-spacing: 0.32px;
    color: #e0e0e0;
}
.contact1 h1 span{
    letter-spacing: 6px;
}

.contact1Vid{
    float: right;
    margin-top: 90px;
    width: 465px;
    height: 300px;
    background-color: #000000;
    opacity: 0.2;
    box-shadow: 0px 17px 86px 6px rgba(0,0,0,0.48);
}
.contact1Vid img{
    margin-top: 25%;
    margin-left: 42%;
}

.learn-more{
    
   background-color: #ffffff;
    width: 100%;
}
.block1{
    border-bottom: 5px solid black; 
}
.content{
    background-color: #ffffff;
    padding-top: 40px;
    border-bottom: 2px solid #ececec;
    padding-bottom: 70px;
}
.learn-more {
    width: 45%;
    float: left;
}
.learn-more h1 {
    font-family: "Open Sans";
    font-size: 37px;
    font-weight: 700;
    line-height: 55px;
    text-transform: uppercase;
}
.learn-more p {
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}
.learn-more a{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid #ff0000;
    text-decoration: none;
    color: #ff0000
}
.learn-more-imgs{
    margin-left: 50px; 
    float: left;
    width: 50%
}
.four-imgs{
    float: left;
    margin-top: 25px;
    margin-left: 55px;
    
    width: 200px;
}
.four-imgs h3 {
    opacity: 0.7;
    color: #000000;
    font-family: "Open Sans - Semibold";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.27px;
}
.four-imgs p {
    opacity: 0.7;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.four-imgs img{
    height: 41px;
    
}

#products{
    padding-top: 100px;
}
.head-products > h1, .head-products > p{
    text-align: center;
}

.head-products >h1{
    color: #000000;
    font-family: "Open Sans";
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.38px;
}
.head-products > p{
    opacity: 0.7;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}
.head-products .red-line{
    border-bottom: #ff0000 2px solid;
    width: 15%;
    margin: 40px auto;

}

.button-products {
    display: flex;
    justify-content: center; 
     
}

.button-products > a{
    text-decoration: none;
    padding: 17px 27px;  
    opacity: 0.7;
    color: #000000;
    font-family: "Open Sans - Semibold";
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.22px;
}
.button-products > a:hover {
    color: #ff0000;
}

.photos-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.photos-container .photo{
    height: 250px;
    background-color: #f5f0dd;
    float: left; 
    margin: 8px;
}
.about-us-head h2{
    opacity: 0.8;
    color: #000000;
    font-family: "Open Sans";
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.38px;
}

.about-us-head > p {
    width: 50%;
    opacity: 0.7;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.about-us-head .red-line{
    margin-top: 30px;
    margin-bottom: 70px;
    border-bottom: #ff0000 2px solid;
    width: 15%;
}

.about-us-card{
    margin: 50px 0px;
}

.about-us-photo{
    float: left;
    height: 400px;
    background-color: #f5f0dd;
    width: 300px;
    margin-right: 40px;
}
.about-us-info{
    float: left;
}
.about-us-info > h2 {
    margin-top: 0;
    opacity: 0.8;
    color: #000000;
    font-family: "Open Sans - Semibold";
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.28px;
}

.about-us-info > p {
    opacity: 0.7;
    color: #000000;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
}

.about-us-info > a {
    text-decoration: none;
    display: inline-block;
    
    margin: 70px;
    margin-top: 30px;
    margin-left:0;
    opacity: 0.8;
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: italic;
    line-height: 24px;
    letter-spacing: 0.9px;
}

.about-us-info .block-photo{
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

.about-us-info .photo{
    background-color: #f5f0dd;
    float: left; 
    margin: 0 8px;
    height: 148px;
}

@media (max-width: 1250px) {
    .learn-more {
        float: none;
        width: 80%;
        padding: 0 10% 100px 10%;
    }

    .learn-more-imgs {
        margin: 0;
        display: flex;
        width: auto;
        justify-content: center;
    }

    .learn-more-imgs > div {
        margin: 0;
        width: 20%;
        text-align: center;
        margin: 0 10px;
    }
}